<div ng-controller = "FactorsController">
	<h3>start</h3>
	<!-- <h3>Add a new customer</h3>
	Customer Name:
	<input type = "text" ng-model="newCustomer.name">
	<input class = "btn btn-primary" type = "submit" ng-click="addCustomer()">
	<table class = "table table-stripped">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th> Created Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "person in customers |filter:filer_name">
				<td>{{person.name}}</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table> -->

</div>