<div ng-controller ="ResourcesController">
	<h1>Resources</h1>
	
	<h2>National Hotlines</h2>
	<ul>
		<li> Human Trafficking Resource Center: 888-373-7888 </li>

		<li> Center for Missing and Exploited Children: 800-THE-LOST  </li>

		<li> Runaway Safeline: 800-RUN-AWAY </li>
	</ul>
	<h2>Bay Area Wide</h2>

	<ul>
		<li><a href="http://misssey.org/">Misssey</a></li>
	</ul>	

	<div class = "row">
		<h2 class = "text-center">County Specific</h2>	
	</div>
	<div class = "row">
		<div class = "col-sm-4">
			<h3>Alameda</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>Contra Costa</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>Marin</h3>	
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-4">
			<h3>Napa</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>San Francisco</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>San Mateo</h3>	
		</div>
	</div>

	<div class = "row">

		<div class = "col-sm-4">
			<h3>Santa Clara</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>Solano</h3>	
		</div>
		<div class = "col-sm-4">
			<h3>Sonoma</h3>	
		</div>
	</div>

</div>