@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/** {
	margin: 0px auto;
}*/

/*#hero_img {
	margin: 0px auto;
	width: 1024px;
	height: 500px;
}*/


.container {
	width: 100%;
	height: 600px;
	position: relative;
	background-image: url('../images/graffit_01.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}

#title {
	margin: 0px auto;
	padding: 20px;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 30%;
	height: 170px;
	background-position: left center;
	background-repeat: no-repeat;
	/*position: absolute;*/
	top: 50%;
}

	h1 {
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: bold;
		font-size: 4.5em;
	}

.identify h3 {
	background-color: black;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px 20px;
	width: 300px;
}

.identify a {
	padding: 10px;
}

footer {
	padding: 20px;
}

#factors_title{
	margin-left: 100px;
	display: inline-block;
	margin-bottom: 60px;
}

#resource{
	display: inline-block;
	margin-left: 50%;
}

#first_form h3{
	background-color: black;
	color: white;
	padding: 10px 20px;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#first_form input{
	margin-bottom: 10px;
}

#body {
	margin-left: 20px;
}

.question {
	margin-left: 20px;
	/*background-color: gray;*/
	height: 150px;
}

	.question p {
		background-color: black;
		color: white;
		font-family: 'Open Sans Condensed', sans-serif;
		padding: 10px 20px;
		width: 500px;
		font-size: 2em;
	}

	.question_buttons{
		width: 400px;
		height: 200px;
		background-color: white;
		color: black;
		font-weight: bold;
		margin: 0 auto;
	}

	.pull-right {
		float: right;
	}





/*progress bar styling*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

#page-wrapper {
  width: 640px;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
  margin-top: 0;
}

meter,
progress {
  width: 100%;
}

.styled progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;

  /* Firefox */
  border: none;
  background: #EEE;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
}

.styled progress::-webkit-progress-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled progress::-webkit-progress-value {
  background-color: #CC0000;
  border-radius: 3px;
}

.styled progress::-moz-progress-bar {
  background-color: #CC0000;
  border-radius: 3px;
}




.styled meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
  
  /* For Firefox */
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

/* WebKit */
.styled meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
  border-radius: 3px;
}
/*red*/
.styled meter::-webkit-meter-optimum-value {
  background: #FF6942;
}
/*orange*/
.styled meter::-webkit-meter-suboptimum-value {
  background: #FFA942;
}
/*yellow*/
.styled meter::-webkit-meter-even-less-good-value  {
  background: #FFDA6D;
}


/* Firefox */
.styled meter::-moz-meter-bar {
  border-radius: 3px;
}
/*red*/
.styled meter:-moz-meter-optimum::-moz-meter-bar {
  background: #FF6942;
}
/*orange*/
.styled meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #FFA942;
}
/*yellow*/
.styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #FFDA6D;
}

button {
  display: inline-block;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.4rem 0.8em;
  background: white;
  border: 1px solid black;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0 0.25rem;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
